rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth.uid != null;
    }
    function getLyst(id) {
      return get(/databases/$(database)/documents/lysts/$(id));
    }
    function lystExists(id) {
      return exists(/databases/$(database)/documents/lysts/$(id));
    }
    function lystIsPublic(id) {
      return lystExists(id) && getLyst(id).data.public == true;
    }
    function isLystOwner(id) {
      return isAuthenticated() && lystExists(id) && getLyst(id).data._private.owner == request.auth.uid;
    }

    match /{document=**} {
      match /defaults/lyst {
        allow read: if isAuthenticated();
      }
      match /users/{userId} {
        allow read: if isAuthenticated();
        allow write: if request.auth.uid == userId;
        match /claimedItems/{itemId} {
          allow read, write: if request.auth.uid == userId;
        }
        match /pendingClaims/{itemId} {
          allow read, write: if request.auth.uid == userId;
        }
      }
      match /lysts/{lystId} {
        function isOwner (resrce) {
          return resrce.data._private.owner == request.auth.uid;
        }
        allow read: if resource.data.public == true;
        allow read, delete: if isOwner(resource);
        allow create, update: if isOwner(request.resource);

        match /lystItems/{itemId} {
          allow read: if lystIsPublic(lystId);
          allow read: if isLystOwner(lystId);
          allow create: if isLystOwner(lystId) && request.resource.data.lystId == lystId;
          allow update: if isLystOwner(lystId) && resource.data.lystId == lystId;
          allow update: if isAuthenticated() && request.resource.data.buyers != resource.data.buyers;
        }
        match /categories/{itemId} {
          allow read: if lystIsPublic(lystId) || isLystOwner(lystId);
          allow write: if isLystOwner(lystId);
        }
        match /anonymousUsers/{userId} {
          allow read, write: if isLystOwner(lystId);
          allow read, create, update: if lystIsPublic(lystId);
        }
      }
    }
  }
}